{
  "reactNativePath": "REACT_NATIVE_PATH",
  "reactNativeVersion": "1000.0.0",
  "root": "TAPCOUNTER_PATH",
  "dependencies": {},
  "platforms": {
    "ios": {},
    "android": {}
  },
  "project": {
    "ios": {
      "sourceDir": "TAPCOUNTER_PATH/ios",
      "xcodeProject": {
        "name": "TapCounter.xcworkspace",
        "isWorkspace": true
      }
    },
    "android": {
      "sourceDir": "TAPCOUNTER_PATH/android",
      "appName": "app",
      "packageName": "com.tapcounter",
      "applicationId": "com.tapcounter",
      "mainActivity": ".MainActivity"
    }
  }
}
